.App {
  /* The image used */
  /* Full height */
  height: 100%;
  background: url("./img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showResult {
  height: 80%;
  background: url("./img/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background: url("./img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: white;
  padding: 30px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  transform: translateY(4px);
}
.tableResult {
  height: 80%;
  background: url("./img/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: "block";
}
